
<div id="about" class="owen-section">
    <div class="container">
        <div class="row text-center">
            <h2 class="bold">About</h2>
        </div>
        <div class="row"> 
            <div class="col-md-5 animate-box">
                <div class="owl-carousel3">
                    <div class="item">
                        <img class="img-responsive about-img" src="{{img_url feature_image}}" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-push-1 animate-box">
                <div class="about-desc">
                    <div class="owl-carousel3">
                        <div class="item">
                            <h2>
                                {{title}}
                            </h2>
                        </div>
                    </div>
                    <div class="desc">
                        <div class="rotate">
                            <h2 class="heading">About</h2>
                        </div>
                            {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>