<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 owen-navbar">
                <div class="owen-navbar-brand">
                    <a class="owen-logo" href="{{@blog.url}}">{{@blog.title}}</a>
                </div>
                <div class="owen-links">
                    {{navigation}}
                </div>
            </div>
        </div>
    </div>
</header>
