<div id="skills" class="owen-section">
    <div class="container">
        <div class="row text-center">
            <h2 class="bold">Skills</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="skills-flex">
                    <div class="one-third">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-0 animate-box intro-heading">
                                <span>{{title}}</span>
                                <h2>{{excerpt}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="rotate">
                                    <h2 class="heading">Skills</h2>
                                </div>
                            </div>
                            <div class="content">
                                {{content}}
                            </div>
                        </div>
                    </div>
                    <div class="one-forth skills-img" style="background-image: url('{{img_url feature_image}}');">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>