{{!< default}} 
{{#post}}
<div class="owen-section">
    <div class="container">
        <div class="row text-center">
            <h2 class="bold">{{title}}</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-center animate-box intro-heading">
                <span>George Owen Kemp</span>
                <h2>{{title}}</h2>
            </div>
        </div>
        {{content}}
    </div>
</div>
{{/post}}